table{
  //table-layout: fixed;
  width: 100%;
  //border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  thead{
    background-color: #fafafa;
  }
  th, td{
    padding: 8px;
    //border-color: #e8e8e8;
    border-bottom: 1px solid #ebedf0;
    word-break: break-all;
  }
  th{
    white-space: nowrap;
  }
  tr:hover, tr:nth-child(even){
    background: rgba(60,90,100,0.04);
  }
}