html{
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  font-size: 14px;
  color: #314659;
}

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
table { border-collapse: collapse; border-spacing: 0; }
img, img a, img a:hover { border: 0; display: block; max-width: 100%; -ms-interpolation-mode: bicubic; }
::-moz-selection { background: #fff600; color: #222c37; text-shadow: none; }
::selection { background: #fff600; color: #222c37; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== MARGINS & PADDINGS
****************************************/
.m0a { margin: 0 auto !important; }
.m0 { margin: 0 !important; }

.mb0 { margin-bottom: 0 !important; }
.mb1 { margin-bottom: 1px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb60 { margin-bottom: 60px !important; }

.mt0 { margin-top: 0 !important; }
.mt1 { margin-top: 1px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }

.mr0 { margin-right: 0 !important; }
.mr1 { margin-right: 1px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }
.mr40 { margin-right: 40px !important; }

.ml0 { margin-left: 0 !important; }
.ml1 { margin-left: 1px !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml40 { margin-left: 40px !important; }

.p0 { padding: 0 !important; }
.p1 { padding: 1px !important; }
.p5 { padding: 5px !important; }
.p10 { padding: 10px !important; }
.p15 { padding: 15px !important; }
.p20 { padding: 20px !important; }
.p30 { padding: 30px !important; }

.pr0 { padding-right: 0 !important; }
.pr1 { padding-right: 1px !important; }
.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr30 { padding-right: 30px !important; }
.pr40 { padding-right: 40px !important; }

.pl0 { padding-left: 0 !important; }
.pl1 { padding-left: 1px !important; }
.pl5 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl30 { padding-left: 30px !important; }
.pl40 { padding-left: 40px!important; }
.pl60 { padding-left: 60px!important; }

.pb0 { padding-bottom: 0 !important; }
.pb1 { padding-bottom: 1px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }

.pt0 { padding-top: 0 !important; }
.pt1 { padding-top: 1px !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt30 { padding-top: 30px !important; }


.left { float: left !important; }
.right { float: right !important; }
.txt-r{
  text-align: right;
}

.btn{
  color: #fff;
  background-color: #1890ff;
  border: 1px solid #1890ff;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover{
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.btn.default{
  background-color: #fff;
  border-color: #d9d9d9;
  color: rgba(0,0,0,0.65);
}
.btn.disabled{
  color: rgba(0,0,0,0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}

.v-middle{
  vertical-align: middle;
}

.btn.s{
  padding: 3px 4px
}
.hide{
  display: none!important;
}
.bg-yellow{
  background-color: #eea236;
}

.g1 { width: 8.33333333333% }
.g2 { width: 16.6666666667% }
.g1-5 { width: 20% }
.g3 { width: 25% }
.g4 { width: 33.3333333334% }
.g5 { width: 41.6666666667% }
.g6 { width: 50% }
.g7 { width: 58.3333333333% }
.g8 { width: 66.6666666667% }
.g9 { width: 75% }
.g10 { width: 83.333333333% }
.g11 { width: 91.666666667% }
.g12 { width: 100% }

.g1, .g2, .g1-5, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11, .g12 {
  padding: 30px;
  float: left;
}

@media only screen and (min-width: 150px) and (max-width: 767px){
  .g1, .g2, .g1-5, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11, .g12 {
    padding: 15px;
  }
  .g1 { width: 8.33333333333% }
  .g2 { width: 16.6666666667% }
  .g1-5 { width: 50% }
  .g3 { width: 50% }
  .g4 { width: 100% }
  .g5 { width: 100% }
  .g6 { width: 100% }
  .g7 { width: 100% }
  .g8 { width: 100% }
  .g9 { width: 100% }
  .g10 { width: 100% }
  .g11 { width: 91.666666667% }
  .g12 { width: 100% }

  .group, .group.nest {
    padding: 5px !important;
  }
}

input, select{
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 36px;
  color: #555;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select{
  max-width: 100%;
}
input:focus, select:focus, button:focus {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: none;
}
label{
  display: inline-block;
  min-width: 70px;
  height: 36px;
  line-height: 36px;
  text-align: right;
  margin-right: 10px;
}

a{
  cursor: pointer;
  color: #1890ff;
  text-decoration: none;
  white-space: nowrap;
}
a:hover {
  color: #40a9ff;
}

h1{
  font-weight: 500;
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 20px;
}
h1,h2,h3,h4,h5{
  color: #0d1a26;
}

li:focus{
  outline: 0;
}


.rc-pagination-item:hover {
  border-color: #1890ff!important;
}

.rc-pagination-item:hover a {
  color: #1890ff!important;
}
.rc-pagination-item-active {
  background-color: #1890ff!important;
  border-color: #1890ff!important;
  color: #fff!important;
}

.rc-pagination-item-active:hover a {
  color: #fff!important;
}
.rc-pagination-options-quick-jumper button:hover, .rc-pagination-options-quick-jumper button:active, .rc-pagination-options-quick-jumper button:focus {
  color: #1890ff!important;
  border-color: #1890ff!important;
}
.rc-pagination-options-quick-jumper input:hover {
  border-color: #1890ff!important;
}


@media only screen and (max-width: 767px) {
  .nav-slide {
    transition: all .6s;
    left: -260px;
  }
  .loading-container{
    left: 0!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
  }
  .nav-slide a.mobile-menu-opener {
      display: block;
  }

  .main-container {
    margin-left: 40px;
  }

  label{
    text-align: left!important;
  }
}

